/* body{
    height: 100vh;
    text-align: center;
  } */
    /*Trigger Button*/
  .login-trigger {
    /* font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%; */
    padding: 15px 30px;
    margin-right: 30px;
    background: white;
    color: #05060d;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    }
    .login-trigger:hover{
        background-color: #FFE31B;
        color: #05060d;
        border-color: transparent;
        text-decoration: none;
  }
  
  /*Modal*/
  h4 {
    font-weight: bold;
    color: #05060D;
  }
  .close {
    color: #05060D;
    transform: scale(1.2)
  }
  .modal-content {
    font-weight: bold;
    /* background: linear-gradient(to bottom right,#F87E7B,#B05574); */
    background: white;
  }

  .form-control {
    margin: 3em 0;
  }
  .form-control:hover, .form-control:focus {
    box-shadow: none;  
    border-color: #05060D;
  }
  .username, .password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;  
  }
  .form-control::-webkit-input-placeholder {
    color: #eee;  
  }
  .form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
  }
  .login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
  }
  .login:hover {
    background: #FAB87F;
    color: #fff;
  }