@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
/*   text-align: center; */
/*   background-color:#05060d; */
}

.bhd-form{
  /* background-color: #05060d;   */
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.6em;
  display: unset;
  padding-bottom: 30px;
	color:white;
}
.gradient{
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.6em;
	background: linear-gradient(to right, #FFE31B 0%, #ffffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.bhd-input{
  overflow: hidden;
  margin: 5px 10px;
  flex-grow: 1;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  padding: 5px 20px;
  background-color: #05060d;
  border: none;
  width: 230px;
  height: 70px;
  caret-color: #747686;
}
input[type=number]{
  -moz-appearance: textfield;
	color:white;
	border: 1px solid #ffffff1a;
  padding: 5px 20px;
}
input[type=number]:focus{
	color:white;
  padding: 5px 20px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.bhd-text{
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: white;
}
.dummy-text1{
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
  color: #747686;
  padding-bottom: 20px;
  text-align: left;
}
.dummy-text2, .dummy-text3{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: white;
  display: unset;
}
.dummy-text2{
  padding-right: 56px;
}
.bold-span{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: white;
}
.descriptions{
  background-color: #05060d;
  text-align: left;
  /* margin: 0 10px; */
  padding: 0 0 40px 10px;
}



/* Table Styling */

.be_table{
  border: none;
  border-collapse: collapse;
  border-radius: 10px;
  min-width: 360px;
  overflow: auto;
}

.be_table th{
  font-size: 20px;
  line-height: 1em;
  font-weight: 500;
  line-height: 1.5em;
	color:white;
	padding-right:50px;
}

.platforms{
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
  line-height: 1.5em;
  color: white;
}

td{
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  color: #A5A9BA;
}

tr{
  background-color: #0A0C14;
  height:60px;
  border: 5px solid #05060d;
}
tbody :hover{
      background-color: #FFEE62;
      color: #05060d;
}


td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px;
}
td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0;
}