@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 20px 10px;
  padding: 0;
  color: white;
  text-align: center;
/*   background-color:#05060d; */
}
.be_table{
  border: none;
  border-collapse: collapse;
  border-radius: 10px;
}
th{
  font-size: 20px;
  line-height: 1em;
  font-weight: 500;
  padding: 14px 35px;
}

.platforms{
  font-size: 18px;
  line-height: 1em;
  font-weight: 700;
  color: #A5A9BA;
  padding: 14px 35px;
}

td{
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  color: #A5A9BA;
  padding: 14px 35px;
}

tr{
  background-color: #0A0C14;
  
  border: 5px solid #05060d;
}
/* tbody{
  background-color:#05060d;
} */

tbody :hover{
      background-color: #FFEE62;
      color: #05060d;
}


td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px;
}
td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0;
}